<% include header %>

<h1 id="strike">lightning</h1>
<h1>VOLCANO</h1>
<div class="lava"></div>
<div class="lava"></div>
<div class="lava"></div>
<div class="lava"></div>
<div class="lava"></div>
<div class="lightning-container">
  <div class="lightning-row">
    <div class="lightning arrow-up"></div>
    <div class="lightning arrow-down"></div>
    <div class="lightning arrow-up"></div>
    <div class="lightning arrow-up"></div>
  </div>
  <div class="lightning-row">
    <div class="lightning arrow-down"></div>
    
    <div class="lightning arrow-down"></div>
  </div>
</div>

<% include footer %>